<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F0B8C8F2DEEA3CD0089EC39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F0B8CA52DEEA3D80089EC39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F0B8CAF2DEEA3D80089EC39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
